#dropdown-menu::after {
  display: none !important;
  
}

.headermain{
  background-color: #1c1c1c;
  height: 50px;
  border-bottom: solid 1px rgb(51, 51, 51);
}


.subnavcontainer{
  background-color: red;
}



/* Full-width and custom background color for dropdown menu */
.dropdown-menu.w-100 {
  width: 95vw !important;
  border-radius: 5;
  border: 2px solid rgb(33, 41, 35) ;
  background-color: rgb(78, 79, 81) !important; /* Your color */
}

/* Style each dropdown item */
.dropdown-item {
  color: #fff !important;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}

/* Hover effect */
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000 !important;;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


/* for subHeader*/

.sports-nav i {
  display: block;
  margin-bottom: 4px;
  color: rgb(87, 165, 4);
  font-size: 10px;
  
  
}
.sports-nav {
    background-color: rgb(23, 23, 23);
    padding-top: 10px;
    

}

.sports-nav .text-center {
  cursor: pointer;
  transition: all 0.2s ease;
  color: rgb(11, 11, 11);
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}


.favourite{
    
    border: solid 2px rgb(192, 160, 0);
    border-radius: 50px;
    
}
.favourite i{
    color: rgb(192, 160, 0);
}
.favetext{
    color: rgb(192, 160, 0);
}


/* for sub-sub header*/
.custom-active-btn {
  background-color: rgb(87, 165, 4);
  border: none;
  color: white;
  font-size: 12px;
  width: 80px;
  height: 30px;
display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-inactive-btn {
  background-color: transparent;
  color: rgb(87, 165, 4);
  border: 1px solid rgb(87, 165, 4);
  font-size: 12px;
 font-size: 12px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-active-btn-live{
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(207, 1, 1);
    font-size: 12px;
    
}
.custom-inactive-btn-live{
  color:  rgb(87, 165, 4);
    border: none;
    border: 1px solid rgb(87, 165, 4); 
    font-size: 12px;
}

/* sub nav bar active and inactive tap */



.nav-item-custom {
  transition: color 0.3s ease;
 
}

.subnavtext{
  color: rgb(255, 255, 255);
  font-size: 10px;
  margin-left: -7px;
  padding-top: 3px;
}

.nav-item-custom.active {
  color: #ffffff !important;
  border-bottom: solid 2px greenyellow ;
  
 
}

.nav-item-custom.inactive {
  color: #ffffff !important;
}

.favetext {
  font-weight: bold;
}

.allmatchcontainer{
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: #252525;
   
}

.leaguename{
  margin-left: 10px;
  color: rgb(205, 205, 205);
  font-size: 16px;
}

.matchcontainer{
  background-color: #000000;
  
}
.allleague{
  background-color: rgb(24, 24, 24);
  border: solid rgb(102, 102, 102) 0.1px;
  border-radius: 20px;
}
.homeandaway{
  color: rgb(70, 135, 1); 
  font-size: 12px;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.matchtime{
  color: rgb(173, 173, 173);
  font-size: 10px; 
}

.horisontalline{
  color: white;
}

.spinner{
  color: rgb(79, 147, 6);
  font-size: 60px;
  border: none;
  
}

.btndatebtn{
  border: solid rgb(79, 147, 6);
  border-radius: 20px;
  color: rgb(79, 147, 6);
  display: flex;
  
}
.cont-2{
  background-color: #000000;
}

.spiner-container{
  background-color: #000000;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.favourites-container{
  background-color: #000000;
  padding-top: 20px;
  width: 100%;
  height: 100vh;
}

.favourite-match{
  color: rgb(176, 176, 176);
  font-size: 14px;
  border: solid rgb(100, 100, 100);
  border-radius: 10px;
  
}


/* search modal */

.search-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-modal-box {
  background: rgb(0, 0, 0);
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(55, 55, 55);
}

.headersearch{
  border-bottom: solid 1px rgb(55, 55, 55);
}

.headersearch h6{
  color: white;
}
.closebtn{
  color: white;
}

.searchbox{
  background-color: red;
  
}

.no-focus-outline:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.no-focus-outline {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: rgb(255, 251, 251) !important;
}

/* search modal */


/* match details page*/

.matchdetailscon{
  background-color: #000000;
  width: 100%;
  height: fit-content;
}
.matchdetailsleague{
  background-color: rgb(28, 27, 27);
  padding: 10px;
  border-radius: 20px;
}
.matchdetailsleague-title{
  color: rgb(175, 175, 175);
  font-size: 14px;
  font-weight: bold;
}

.matchdetailsleague-score{
  color: rgb(164, 141, 98);
  margin-top: 20px;
}

.matchdetails-primarybtn{
  background-color: rgb(33, 33, 33) !important;
  color: rgb(179, 179, 179) !important;
  font-weight: bold !important;
  font-size: 12px !important;
  border-radius: 20px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.matchdetails-sec-btn{
  border: solid 1px  rgb(88, 88, 88) !important;
  color: rgb(179, 179, 179) !important;
  font-weight: bold !important;
  font-weight: bold !important;
  font-size: 12px !important;
  border-radius: 20px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.sub-cont{
  border: solid rgb(52, 52, 52);
  border-radius: 20px;
  
}

.event-title{
  color: rgb(224, 224, 224);
  font-size: 13px;
}
.event-sub{
  color: rgb(109, 109, 109);
}
.event-details {
  color: rgb(172, 172, 172);
  font-size: 12px;
  
}
.boder-buttom-matchdetail{
  border-bottom: solid 1px rgb(59, 59, 59);
}


/* lin-up css for match destils*/

.pitch-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.pitch-img {
  width: 100%;
  display: block;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.player-icon {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

